<html>
<head>
</head>
<body>
<form method="post" action="/iniciar">
  <label for="correo">Correo: </label>
  <input type="text" id="correo" name="correo" required/>
  <label for="contrase単a">Contrase単a: </label>
  <input type="password" id="contrase単a" name="contrase単a" required/>
  <input type="submit" value="Registrarme"/>
</form>
</form>
</body>
</html>
