.chico{
  display: inherit !important;
}

body{
 margin: 0;
 padding: 0;
 background-image: url("fondo.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

img{
  max-width: 100%;
}
div#container{
  height: 100%;
}

div#container div#nav{
  background-color: #2A2A2A;
  padding: 2.5%;
  position: fixed;
  width: 100%;
  top: 0;
}

div#container div#nav ul{
  float: right;
  margin: 0;
}

div#container div#nav i{
  font-size: 130%;
  color: white;
  margin-left: 5px;
  margin-top: 2px;
}

div#container div#nav ul li{
  display: inline;
  margin-left: 10px;
  font-family: 'Pavanam', sans-serif;
  font-size: 130%;
}

div#container div#nav ul li a{
  color: white;
}

div#container div#single-head, div#items{
  float: left;
}

div#container div#single-head, div#vacio{
  float: left;
}

label{
  color: inherit;
  font-size: inherit;
}

div#single-head{
  position: relative;
  margin-left: -1000px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F2F2F2;
  background-color: #575656;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(20,19,19,1);
  background: -moz-linear-gradient(-45deg, rgba(20,19,19,1) 0%, rgba(59,59,59,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(20,19,19,1)), color-stop(100%, rgba(59,59,59,1)));
  background: -webkit-linear-gradient(-45deg, rgba(20,19,19,1) 0%, rgba(59,59,59,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(20,19,19,1) 0%, rgba(59,59,59,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(20,19,19,1) 0%, rgba(59,59,59,1) 100%);
  background: linear-gradient(135deg, rgba(20,19,19,1) 0%, rgba(59,59,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141313', endColorstr='#3b3b3b', GradientType=1 );
}

div#single-head i.chico{
  position: absolute;
  font-size: 140%;
  right: 10px;
  top: 10px;
}

div#container div#single-head div#subscribe{
  width: 100%;
  cursor: pointer;
  background-color: #159393;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Pavanam', sans-serif;
}

div#single-head h2{
  font-family: 'Pavanam', sans-serif;
  font-size: 220%;
  text-align: center;
  padding: 5%;
  margin: 0;
}

div#single-head div#info{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 4%;
  border-bottom: 2px solid black;
  width: 95%;
  margin: auto;
}

div#single-head div#info i{
  font-size: 90%;
}

div#single-head div#info span:first-child{
  margin-right: 20px;
  list-style-type: circle;
}

div#container div#single-head div#subir{
  width: 87%;
  margin: auto;
}

div#container div#single-head div#subir form{
  margin-top: 13px;
  margin-bottom: 13px;
}

div#container div#single-head div#subir form span{
  font-family: 'Raleway', sans-serif;
  font-size: 110%;
}

div#container div#single-head textarea{
  width: 100%;
  margin: auto;
  height: 85px;
  border: none;
  border: 2px solid #F6F1F1;
  background-color: inherit;
  color: white;
  margin-bottom: 10px;
  margin-top: 7px;
}

div#container div#single-head div#subir form div#añadir-file{
  height: 20px;
  text-align: center;
  margin-bottom: 8px;
  font-family: 'Pavanam', sans-serif;
  font-size: 95%;
  height: 4%;
  color: black;
  border-radius: 6px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(1%, rgba(255,255,255,1)), color-stop(100%, rgba(199,199,199,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7', GradientType=0 );
}

div#container div#single-head div#subir form div#añadir-file input[type=file]{
  position: relative;
  margin: 0;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

div#container div#single-head div#subir form input[type=submit]{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  border: none;
  color: black;
  padding: 1%;
  font-size: 100%;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(1%, rgba(255,255,255,1)), color-stop(100%, rgba(199,199,199,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(199,199,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7', GradientType=0 );
}

div#container div#single-head div#miembros{
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  border-top: 2px solid black;
}

div#container div#single-head div#miembros p{
  margin-bottom: 3px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
}

div#container div#single-head ul#miembros{
  width: 100%;
  margin: auto;
  max-height: 26%;
  overflow: scroll;
}

div#container div#single-head ul#miembros::-webkit-scrollbar{
  height: 0px;
  width: 8px;
}

div#container div#single-head ul#miembros::-webkit-scrollbar-track{
  background: white;
}

div#container div#single-head ul#miembros::-webkit-scrollbar-thumb{
  background-color: #727272;
  border-radius: 6px;
}


div#container div#single-head ul#miembros li{
  color: black;
  height: 30px;
  background-color: #F0F0F0;
}

div#items, div#vacio{
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
}

div#container div#vacio{
  text-align: center;
  margin-top: 25%;
  color: #333333;
}

div#container div#suscribete{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 65%;
  text-align: center;
}

div#container div#suscribete h2{
  margin: 0;
}

div.archivos:first-child{
  margin-top: 30px;
}

div.archivos{
  width: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 3px;
}

div.archivos p{
  /*border-bottom: 1px solid #B8B7B7;*/
  padding: 2%;
  font-family: 'Raleway', sans-serif;
  font-size: 125%;
}

div.archivos div#imagen{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.archivos img{
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

div#container div#items div.archivos a{
  font-size: 180%;
  text-decoration: underline;
}

div#container div#items div.archivos ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.3);
}

div#container div#items div.archivos textarea.respuesta{
  width: 95%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 48px;
  background-color: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
}

div#container div#items div.archivos input[type=button]{
  margin-top: 10px;
  margin-bottom: 15px;
  height: 30px;
  padding: 0;
  width: 20%;
  margin-left: 77%;
}

div#container div#items div.archivos ul.respuestas li div.respuesta{
  padding-top: 6px;
  padding-bottom: 6px;
}
